books
<%= form_with model: @book, url: '/books', method: :post do |f| %>

<h4>タイトル</h4>
<%= f.text_field :title %>

 <h4>本文</h4>
  <%= f.text_area :body %>

  <%= f.submit '投稿' %>

<% end %>


<% @books.each do |book| %>
<h1>投稿一覧</h1>


  <p>タイトル</p>
  <span> <%= link_to book.title,books_path(book.id) %> </span>
  <% end %>