<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/89cb014662.js" crossorigin="anonymous"></script>
  </head>

  <<body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>

             <li class="nav-item"><%= link_to root_path do %><%= fa_icon("home") %><p>Home</p><% end %></li>
             <li class="nav-item"><%= link_to users_path do %><%= fa_icon("dog") %><p>User</p><% end %></li>
             <li class="nav-item"><%= link_to books_path do %><%= fa_icon("cat") %><p>Book</p><% end %></li>
             <li class="nav-item"><%= link_to destroy_user_session_path, method: :delete do %><%= fa_icon("crow") %><p>Log out</p><% end %></li>
            <% else %>
             <li class="nav-item"><%= link_to root_path do %><%= fa_icon("home") %><p>Home</p><% end %></li>
             <li class="nav-item"><%= link_to about_path do %><%= fa_icon("fish") %><p>About</p><% end %></li>
             <li class="nav-item"><%= link_to new_user_registration_path do %><%= fa_icon("kiwi-bird") %><p>Sign up</p><% end %></li>
             <li class="nav-item"><%= link_to new_user_session_path do %><%= fa_icon("dove")%><p>Log in</p><% end %></li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  <%= yield %>

  <footer>
   <div class="container">
     <div class="foot">CopyRight Infratop.inc</div>
   </div>
 </footer>
</body>


<div class="container">
<div class="row">

　　<div class="col bg-primary">1</div>
　　<div class="col bg-danger">2</div>
　　<div class="col bg-info">3</div>

</div>
</div>
</html>


